Package: com.ichitaso.dimentio
Name: dimentio
Depends: 
Architecture: iphoneos-arm
Description: test
Maintainer: ichitaso
Author: ichitaso
Section: Terminal Support
Version: 0.0.1
Installed-Size: 136
